*{
    padding:0;
    margin: 0;

}
/* header nav{
    background-color: #292020;
    height:80px;
    width:100%;
    

}
nav button{
    border:0;
    background-color:#003C9D;
    color:#fff;
    
    border:0.1vw solid #1f1a1a;
}
nav h1{
    color:white;
    position: absolute;
    left:9vw;
    top:0;
    line-height: 11.5vh;
} */
.navbar{
    background-color: #2e416c;
}
li a{
    color:white;
    font-size:20px;
    text-decoration: none;

}
li a:hover{
    text-decoration: underline;
}
.navbar-toggler{
    background-color: white;
}
a.navbar-brand{
    color:white;
    font-size:3vw;
    position: relative;
    top:0;
    left:2vw;
}
.news{
    background-color:white;
    color:white;
    height:60vh;
    background-image:url(images/firstimage.jpeg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: 40%;
    
    /* height: 300px; */
    /* position: absolute;
    left:120px;
    top:30px;
    line-height: 230px;
    width: 25%; */
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.news h2{
    font-size:2.3vw;
    margin:0;
    position: relative;
    top:2vw;
}
.news p{
    color:rgb(63, 49, 49);
    font-size:1vw;
    margin:10px 0;
}
.news a{
    border:0.1vw solid #1f1a1a;
    padding:1vw 1vw;
    
    border-radius:1vw;
    text-decoration: none;
    color:black;
    position: relative;
    top:3vw;
}
.news h3{
    font-size:2.3vw;
    color:black;
    margin:0;
}
.news a:hover{
    text-decoration: underline;
}
footer{
    background-color: #2e416c;
    height:140vh;
}
.productclass a{
    text-decoration: none;
    color:white;
}
.productclass h2{
    color:white;
}
.productclass h3{
    color:white;
}
.productclass{
    position:relative;
    top:10vh;
}
.but p{
    text-decoration: none;
    color:white;
}
.but h2{
    
    color:white;
}
.but h3{
    
    color:white;
}
.navigation a{
    position:relative;
    right:0.5vw;
}
.navigation li{
    list-style-type:circle;
    color:white;
    
}
